.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.headerImage {
    width: 6rem;
    height: 6rem;
}

.headerHomeImage {
    width: 8rem;
    height: 8rem;
}

.backToHome {
    margin: 3rem 0 0;
}

.octo_arm {
    transform-origin: 130px 106px;
}
.github_corner:hover .octo_arm {
    animation: octocat-wave 560ms ease-in-out;
  }
  @keyframes octocat-wave {
    0%,
    100% {
      transform: rotate(0);
    }
    20%,
    60% {
      transform: rotate(-25deg);
    }
    40%,
    80% {
      transform: rotate(10deg);
    }
  }
  @media (max-width: 500px) {
    .github-corner:hover .octo_arm {
      animation: none;
      -webkit-animation: none;
}
    .github-corner .octo_arm {
      animation: octocat-wave 560ms ease-in-out;
      -webkit-animation: octocat-wave 560ms ease-in-out;
}
  }

  .svg {
    fill:#000000; 
    color:#fff; 
    position: absolute; 
    top: 0; 
    /* right:0; */
    transform: translateX(500%);
  }