li.li_container {
  display: flex;
  margin-bottom: 1em;
  align-items: center;
}

.post_title {
  flex-basis: 85%;
}
.date_label {
  color: dimgrey;
  flex-basis: 15%;
  font-size: 0.8em;
  max-height: 2em;
  border: 1px solid #0070f3;
  border-radius: 4px;
  margin-right: 2em;
  padding: 0px 10px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}